

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Cart</title>
</head>
<body>
    <div>
        <h2>My Shopping Cart</h2>
        <br />
        <h4>Your cart is empty! Go to Movies to add titles.</h4>
    </div>
</body>
</html>
